<h5><b>Deaths</b></h5>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <b>Gender Distribution Deaths : Male vs Female ( Updated - Jul 2020)</b>
              </div>
            <div class="card-body">
                <canvas id="deathschart" height="150" width="350"></canvas>
            </div>
            <div class="card-footer"><a href="https://www.statista.com/statistics/967928/total-population-of-south-africa-by-gender/#:~:text=This%20statistic%20shows%20the%20total,to%20approximately%2028.86%20million%20inhabitants." class="card-link">South African population by gender</a></div>
          </div>
        
      </div>
    </div>
  </div>
