<h5><b>Cases</b></h5>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card">
            <div class="card-header">
                <b>Confirmed cases : ( Updated - Mar 2020 - Nov 2020)</b>
              </div>
            <div class="card-body">
                <canvas id="caseschart" height="150" width="350"></canvas>
            </div>
            <div class="card-footer"><a href="https://sacoronavirus.co.za/" class="card-link">South African Covid-19 confirmed cases</a></div>
          </div>
        
      </div>
    </div>
  </div>
